PUBLIC_URL=http://127.0.0.1:8787
PDS_URL=https://pds.netslum.macha.sh
BSKY_PUBLIC_API=https://public.api.bsky.app
SERVERLESS_ENABLED=false
SITE_ASSET_ORIGIN=http://127.0.0.1:8791
SITE_RUNTIME_ORIGIN=http://127.0.0.1:8792
OAUTH_STORE_KEY=
OAUTH_CLIENT_PRIVATE_JWK=
SITE_ADMIN_DIDS=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
